.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
