.container {
  display: flex;
  justify-content: flex-end;
  place-items: end;
  text-align: center;
  height: 5vh;
  width: 100%;
  padding: 0 0.8rem;
}

.signedIn {
  display: flex;
  justify-content: space-between;
  place-items: end;
  text-align: center;
  width: 100%;
  height: 100%;

  p {
    margin: 0;
  }
}
